@model ERP_Project.Models.View_Models.EmployeeVM

@{
    ViewData["Title"] = "JobExtend";
}

@section Css {
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/select2.css">
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    Employee Job Extend
                </h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Apps</li>
                    <li class="breadcrumb-item active"> Job Extend/Change                          </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <form asp-action="JobExtend" class="form theme-form">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Personal Information
                                </h3>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div @*class="form theme-form"*@>
                            <input asp-for="employee.EmployeeId" required class="form-control" type="hidden">
                            <input name="id" value="@Model.employee.EmployeeId" required class="form-control" type="hidden">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Employee Name</label>
                                        <input readonly asp-for="employee.FullName" required class="form-control" type="text" placeholder="Enter Employee's full name *">
                                        <span asp-validation-for="employee.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Employee Email</label>
                                        <input readonly class="form-control" asp-for="employee.Email" type="text" placeholder="Enter Employee's Email *">
                                        <span asp-validation-for="employee.Email" class="text-danger"></span>
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Current Address</label>
                                        <textarea readonly asp-for="employee.CurrentAddress" class="form-control" type="text" placeholder="Enter Employee's Current Address" rows="3"></textarea>
                                        <span asp-validation-for="employee.CurrentAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Employee Phone Number(Home)</label>
                                        <input readonly class="form-control" asp-for="employee.HomeContactNo" type="text" placeholder=" Phone Number (Home) *">
                                        <span asp-validation-for="employee.HomeContactNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Employee Mobile/Personal Number </label>
                                        <input readonly class="form-control" asp-for="employee.MobileContactNo" type="text" placeholder=" Phone Number (Mobile/Personal) *">
                                        <span asp-validation-for="employee.MobileContactNo" class="text-danger"></span>
                                    </div>
                                </div>



                            </div>


                            @*    <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Project Rate</label>
                                            <input required class="form-control" type="text" placeholder="Enter project Rate">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Project Type</label>
                                            <select class="form-control">
                                                <option>Hourly</option>
                                                <option>Fix price</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Priority</label>
                                            <select class="form-control">
                                                <option>Low</option>
                                                <option>Medium</option>
                                                <option>High</option>
                                                <option>Urgent</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Project Size</label>
                                            <select class="form-control">
                                                <option>Small</option>
                                                <option>Medium</option>
                                                <option>Big</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Starting date</label>
                                            <input required class="datepicker-here form-control" type="text" data-language="en">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Ending date</label>
                                            <input required class="datepicker-here form-control" type="text" data-language="en">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Enter some Details</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Upload project file</label>
                                            <form class="dropzone" id="singleFileUpload" action="/upload.php">
                                                <div class="dz-message needsclick">
                                                    <i class="icon-cloud-up"></i>
                                                    <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Job Extend/Change
                                </h3>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Company</label>
                                    <input asp-for="employee.CompanyId" type="hidden" required class="form-control" />
                                    <span asp-validation-for="employee.CompanyId" class="text-danger"></span>
                                    <output class="form-control">@Model.employee.Company.CompanyName</output>


                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Joining Position</label>
                                    <select asp-for="position.PositionType" class="form-control">
                                        <option value="Internship">Internship</option>
                                        <option value="Job">Job</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department</label>
                                    <div id="ddlDepartment1">
                                        <select required asp-for="employee.DepartmentId" class="form-control" id="ddlDepartment" asp-items="ViewBag.DepartmentId">
                                            @*<option>Please select one</option>*@
                                        </select>
                                    </div>
                                    <span asp-validation-for="employee.DepartmentId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Designation</label>
                                    <div id="dllDesignation">
                                        <select required asp-for="employee.Department_DesignationsId" class="form-control" asp-items="ViewBag.Department_DesignationsId">
                                            @*<option>Please select one</option>*@
                                        </select>
                                    </div>
                                    <span asp-validation-for="employee.Department_DesignationsId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input asp-for="position.EmployeePositionsId" type="hidden" required class="form-control" />
                                    <label>Job Duration</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Start Date</label>
                                            <input required class="datepicker-here form-control" asp-for="position.StartDate" type="text" data-language="en" data-multiple-dates-separator=", " data-position="bottom left" placeholder="Job start date" data-original-title="" title="">
                                            <span asp-validation-for="position.StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>End Date</label>
                                            <input required class="datepicker-here form-control" asp-for="position.EndDate" type="text" data-language="en" data-multiple-dates-separator=", " data-position="bottom left" placeholder="Job end date" data-original-title="" title="">
                                            <span asp-validation-for="position.EndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Is the job paid or unpaid?</label>
                                    @Html.RadioButtonFor(m => m.position.IsPaid, true)&nbsp;PAID&nbsp;&nbsp;

                                    @Html.RadioButtonFor(m => m.position.IsPaid, false)&nbsp;UNPAID
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Employee Salary</label>
                                    <input required asp-for="position.Salary" class="form-control" type="text" placeholder="Enter Employee's Salary *">
                                    <span asp-validation-for="position.Salary" class="text-danger"></span>
                                </div>
                            </div>


                        </div>

                        @*    <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Project Rate</label>
                                        <input required class="form-control" type="text" placeholder="Enter project Rate">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Project Type</label>
                                        <select class="form-control">
                                            <option>Hourly</option>
                                            <option>Fix price</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <select class="form-control">
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                            <option>Urgent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Project Size</label>
                                        <select class="form-control">
                                            <option>Small</option>
                                            <option>Medium</option>
                                            <option>Big</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Starting date</label>
                                        <input required class="datepicker-here form-control" type="text" data-language="en">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Ending date</label>
                                        <input required class="datepicker-here form-control" type="text" data-language="en">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Enter some Details</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Upload project file</label>
                                        <form class="dropzone" id="singleFileUpload" action="/upload.php">
                                            <div class="dz-message needsclick">
                                                <i class="icon-cloud-up"></i>
                                                <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>









        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-0"><button type="submit" class="btn btn-success mr-3">Save</button><button type="reset" class="btn btn-danger">Cancel</button></div>
            </div>
        </div>
    </form>
</div>
<!-- Container-fluid Ends-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/select2/select2.full.min.js"></script>
    <script src="~/assets/js/select2/select2-custom.js"></script>
    <script src="~/assets/js/tooltip-init.js"></script>
    <script src="~/assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="~/assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="~/assets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ddlDepartment1').change(function () {

                $.ajax({
                    type: "post",
                    url: "/Employees/GetDesignations",
                    data: { id: $('#ddlDepartment').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        // debugger;
                        var district = "<select class='form-control' id='ddlArea' name='employee.Department_DesignationsId' required = 'required'>";
                        district = district + '<option>Please select one</option>';
                        for (var i = 0; i < data.length; i++) {
                            district = district + '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                        }
                        district = district + '</select>';
                        $('#dllDesignation').html(district);
                    }
                });
            });
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {

            $('#ddlCompany').change(function () {

                $.ajax({
                    type: "post",
                    url: "/Employees/GetDepartments",
                    data: { id: $('#ddlCompany').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        // debugger;
                        var district = "<select class='form-control' id='ddlDepartment' asp-for='employee.DepartmentId' name='employee.DepartmentId' required = 'required'>";
                        district = district + '<option>Please select one</option>';
                        for (var i = 0; i < data.length; i++) {
                            district = district + '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                        }
                        district = district + '</select>';
                        $('#ddlDepartment1').html(district);
                    }
                });
            });
        });
    </script>



}

<script type="text/javascript">
    window.onload = function () {

        var item = @Html.Raw(Json.Serialize(Model.education));
        for (var i = 0; i < item.length;i++) {
            nearByDiv = document.getElementById('EducationForm');
            var newdiv = document.createElement('DIV');
            newdiv.className = 'row justify-content-between';
          @*  var newForm0 = '<input  type="hidden" required name="education[' + i + '].EmployeeEducationId" value="' + item[i].employeeEducationId +'" class="form-control" />';*@
            var newForm1 = '<div class="col-sm-3"> <div class="form-group" ><label> Level : </label> <input  type="text" required name="education[' + i + '].EducationLevel" value="'+item[i].educationLevel+'" class="form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].EducationLevel" data-valmsg-replace="true"></span></div></div>';
            var newForm2 = '<div class="col-sm-3"> <div class="form-group" ><label> Institute Name : </label> <input required type="text" required name="education[' + i + '].InstitutionName" value="'+item[i].institutionName+'" class="form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].InstitutionName" data-valmsg-replace="true"></span></div></div>';
            var newForm3 = '<div class="col-sm-3"> <div class="form-group" ><label> Degree : </label> <input  type="text" required name="education[' + i + '].Degree" value="'+item[i].degree+'" class="form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].Degree" data-valmsg-replace="true"></span></div></div>';
            var newForm4 = '<div class="col-sm-3"> <div class="form-group" ><label> Period : </label> <input type="text" required name="education[' + i + '].DateFrom" data-language="en" data-multiple-dates-separator=", " data-position="bottom left" placeholder="From" data-original-title="" title="" value="' + item[i].dateFrom + '" class="datepicker-here form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].DateFrom" data-valmsg-replace="true"></span><input type="text" data-language="en" data-multiple-dates-separator=", " data-position="bottom left" placeholder="To" data-original-title="" title="" required name="education[' + i + '].DateTo" value="' + item[i].dateTo + '" class="datepicker-here form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].DateTo" data-valmsg-replace="true"></span></div></div>';
            var completeForm = newForm1 + newForm2 + newForm3 + newForm4 + "<br />";

            newdiv.innerHTML = completeForm;
            nearByDiv.appendChild(newdiv);
        }


    }

</script>
<script>

    var i = 0;
    function DynamicForm() {

        nearByDiv = document.getElementById('EducationForm');
        var e = nearByDiv.children;
        var length = e.length;

        i = length;
        var newdiv = document.createElement('DIV');
        newdiv.className = 'row clearfix';
       @* var newForm0 = '<input  type="hidden" required name="education[' + i + '].EmployeeEducationId" value="" class="form-control" />';*@
        var newForm1 = '<div class="col-sm-3"> <div class="form-group" ><label> Level : </label> <input  type="text" required name="education[' + i + '].EducationLevel" value="" class="form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].EducationLevel" data-valmsg-replace="true"></span></div></div>';
        var newForm2 = '<div class="col-sm-3"> <div class="form-group" ><label> Institute Name : </label> <input required type="text" required name="education[' + i + '].InstitutionName" value="" class="form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].InstitutionName" data-valmsg-replace="true"></span></div></div>';
        var newForm3 = '<div class="col-sm-3"> <div class="form-group" ><label> Degree : </label> <input  type="text" required name="education[' + i + '].Degree" value="" class="form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].Degree" data-valmsg-replace="true"></span></div></div>';
      var newForm4 = '<div class="col-sm-3"> <div class="form-group" ><label> Period : </label> <input type="date" required name="education[' + i + '].DateFrom" data-language="en" data-multiple-dates-separator=", " data-position="bottom left" placeholder="From" data-original-title="" title="" value="" class="datepicker-here form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].DateFrom" data-valmsg-replace="true"></span><input type="date" data-language="en" data-multiple-dates-separator=", " data-position="bottom left" placeholder="To" data-original-title="" title="" required name="education[' + i + '].DateTo" value="" class="datepicker-here form-control" /><span class="field-validation-valid text-danger" data-valmsg-for="education[' + i + '].DateTo" data-valmsg-replace="true"></span></div></div>';
        var completeForm =  newForm1 + newForm2 + newForm3 + newForm4 + "<br />";
        newdiv.innerHTML = completeForm;
        nearByDiv.appendChild(newdiv);
    }
    function RemoveForm() {
        var nearByDiv = document.getElementById('EducationForm');
        document.getElementById('EducationForm').removeChild(nearByDiv.lastChild);
    }


</script>




